<!DOCTYPE html>
<html>
    <head>
        <title>OnStore</title>
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <meta charset="utf-8" />
    </head>
    <body>
        <div id="layout">
            <header>
                <div>
                    <h1>OnStore</h1>
                </div>
                <div>
                    <form id="search">
                        <input name="search" type="text" />
                        <input type="submit" value="S" /> <!--search-->
                    </form>
                    <div id="subNav">
                        <a href="login.php">Login</a>
                        <a href="login.php">Cart</a>
                    </div>
                </div>
            </header>
            <nav id="mainNav">
                <ul>
                    [MAINNAVCONTENT]
                </ul>
            </nav>
            <content>
                [SECTIONS]    
            </content>
            <footer>
                <ul>
                    <li><a href="#">Link1</a></li>
                    <li><a href="#">Some 2</a></li>
                    <li><a href="#">Three</a></li>
                </ul>
                <ul>
                    <li><a href="#">Link4</a></li>
                    <li><a href="#">Some 5</a></li>
                    <li><a href="#">Six</a></li>
                </ul>
            </footer>
        </div>
    </body>
</html>